body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
}

.input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* stack label above input */
}

.input-group label {
  margin-bottom: 3px;
  font-weight: bold;
}
