table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th, td {
  border: 1px solid #666;
  padding: 5px 10px;
  text-align: right;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}
